{% load static %}
<!DOCTYPE html>
<html lang="ru">
{% block title %}
    <title>Товары</title>
{% endblock %}
{% block content %}
    <body>

    <main class="main">
        {% include 'parts/left_menu.html' %}
        <div class="content">
            <div class="content__block-wrapper">
                <div class="block">
                    <div class="block__head relative--head">
                        <div class="block__item relative">
                            <form class="input input--filter">
                                <input type="text" class="input__input" placeholder="Поиск по наименованию...">
                                <span class="input__icon input__icon--filter"></span>
                                <div class="filter-input">
                                    <div class="filter-input__row">
                                        <p class="filter-input__cap">Выбрать категорию</p>
                                        <div class="w-33 g">
                                            <select name="" id="" class="my-select">
                                                <option data-display="Действия"></option>
                                                <option value="">Слон</option>
                                                <option value="">Лев</option>
                                                <option value="">Жира</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="filter-input__row">
                                        <p class="filter-input__cap">Цена</p>
                                        <div class="filter-input__inner-block">
                                            <div class="w-33">
                                                <select name="" id="" class="my-select">
                                                    <option data-display="Базовая"></option>
                                                    <option value="">Слон</option>
                                                    <option value="">Лев</option>
                                                    <option value="">Жира</option>
                                                </select>
                                            </div>
                                            <div class="w-33">
                                                <div class="input input--namber-filter">
                                                    <input type="number" class="input__input" placeholder="От">
                                                    <span class="input-nstr input-nstr--plus"></span>
                                                    <span class="input-nstr input-nstr--minus"></span>
                                                </div>
                                            </div>
                                            <div class="w-33">
                                                <div class="input input--namber-filter">
                                                    <input type="number" class="input__input" placeholder="До">
                                                    <span class="input-nstr input-nstr--plus"></span>
                                                    <span class="input-nstr input-nstr--minus"></span>
                                                </div>
                                            </div>
                                            <div class="filter-input__block-plus"></div>
                                        </div>
                                    </div>
                                    <div class="filter-input__row">
                                        <p class="filter-input__cap">Остатки</p>
                                        <div class="filter-input__inner-block">
                                            <div class="w-33">
                                                <select name="" id="" class="my-select">
                                                    <option data-display="Общие"></option>
                                                    <option value="">Слон</option>
                                                    <option value="">Лев</option>
                                                    <option value="">Жира</option>
                                                </select>
                                            </div>
                                            <div class="w-33">
                                                <select name="" id="" class="my-select">
                                                    <option data-display="Больше"></option>
                                                    <option value="">Слон</option>
                                                    <option value="">Лев</option>
                                                    <option value="">Жира</option>
                                                </select>
                                            </div>
                                            <div class="w-33">
                                                <div class="input input--namber-filter">
                                                    <input type="number" class="input__input" placeholder="">
                                                    <span class="input-nstr input-nstr--plus"></span>
                                                    <span class="input-nstr input-nstr--minus"></span>
                                                </div>
                                            </div>
                                            <div class="filter-input__block-plus"></div>
                                        </div>
                                        <div class="filter-input__inner-block">
                                            <div class="w-33">
                                                <select name="" id="" class="my-select">
                                                    <option data-display="Общие"></option>
                                                    <option value="">Слон</option>
                                                    <option value="">Лев</option>
                                                    <option value="">Жира</option>
                                                </select>
                                            </div>
                                            <div class="w-33">
                                                <select name="" id="" class="my-select">
                                                    <option data-display="Больше"></option>
                                                    <option value="">Слон</option>
                                                    <option value="">Лев</option>
                                                    <option value="">Жира</option>
                                                </select>
                                            </div>
                                            <div class="w-33">
                                                <div class="input input--namber-filter">
                                                    <input type="number" class="input__input" placeholder="">
                                                    <span class="input-nstr input-nstr--plus"></span>
                                                    <span class="input-nstr input-nstr--minus"></span>
                                                </div>
                                            </div>
                                            <div class="filter-input__block-plus filter-input__block-delete"></div>
                                        </div>
                                    </div>
                                    <div class="filter-input__row">
                                        <p class="filter-input__cap">Срок годность</p>
                                        <div class="filter-input__inner-block">
                                            <div class="w-33 g">
                                                <select name="" id="" class="my-select">
                                                    <option data-display="Истекает в течени"></option>
                                                    <option value="">Слон</option>
                                                    <option value="">Лев</option>
                                                    <option value="">Жира</option>
                                                </select>
                                            </div>
                                            <div class="w-33">
                                                <div class="input input--namber-filter">
                                                    <input type="number" class="input__input" placeholder="Дней">
                                                    <span class="input-nstr input-nstr--plus"></span>
                                                    <span class="input-nstr input-nstr--minus"></span>
                                                </div>
                                            </div>
                                            <div class="filter-input__block-plus"></div>
                                        </div>
                                    </div>
                                    <div class="filter-input__row">
                                        <div class="w-33 g">
                                            <button class="btn btn-def btn-green">Применить</button>
                                        </div>
                                        <div class="w-33 g">
                                            <button class="btn btn-def">Сбросить фильтры</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="block__item">
                            <select name="" id="" class="my-select my-select--blue actions-select">
                                <option data-display="Действия"></option>
                                <option value="">Редактор цен</option>
                                <option value="">Удалить</option>
                            </select>
                        </div>
                        <div class="block__item">
                            <div class="button-link">
                                <a href="" class="button-link__button button-link__button--add-good">
                                    <span class="button-link__icon button-link__icon--plus"></span>
                                    Добавить товар
                                </a>
                            </div>
                        </div>
                        <div class="block__item">
                            <div class="button-link">
                                <a href="" class="button-link__button button-link__button--add-group">
                                    <span class="button-link__icon button-link__icon--folder"></span>
                                    Создать группу
                                </a>
                            </div>
                        </div>
                        <div class="set-table">
                            <a href="" class="button-controls">
                            </a>
                            <div class="set-list">
                                <label class="set-list__item">
                                    <input type="checkbox" class="visually-hidden">
                                    Настройка 1
                                    <span></span>
                                </label>
                                <label class="set-list__item">
                                    <input type="checkbox" class="visually-hidden">
                                    Настройка 1
                                    <span></span>
                                </label>
                                <label class="set-list__item">
                                    <input type="checkbox" class="visually-hidden">
                                    Настройка 1
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="block__item block__item--overauto">
                        <table class="table">
                            <tr>
                                <th class="table__td-check">
                                    <label class="checkbox">
                                        <input type="checkbox" class="visually-hidden">
                                        <span class="checkbox__mark"></span>
                                    </label>
                                </th>
                                <th>Наименование</th>
                                <th>Код</th>
                                <th>Ед.измерения</th>
                                <th>Базовая цена (сом)</th>
                                <th>Скидки</th>
                                <th>Остатки</th>
                            </tr>
                            <tr>
                                <td class="table__td-check">
                                    <label class="checkbox">
                                        <input type="checkbox" class="visually-hidden">
                                        <span class="checkbox__mark"></span>
                                    </label>
                                </td>
                                <td class="table__td-name">
                                    <a href="" class="table__td-link">
                                        <div class="table__td-img">
                                            <img src="../../static/img/cola-mini.jpg" alt="">
                                        </div>
                                        Coca - cola 1л.
                                        <span class="table__td-edit"></span>
                                    </a>
                                </td>
                                <td>00101234</td>
                                <td>Бутылка</td>
                                <td>50.00</td>
                                <td>0%</td>
                                <td>1000</td>
                            </tr>
                            <tr>
                                <td class="table__td-check">
                                    <label class="checkbox">
                                        <input type="checkbox" class="visually-hidden">
                                        <span class="checkbox__mark"></span>
                                    </label>
                                </td>
                                <td class="table__td-name">
                                    <a href="" class="table__td-link">
                                        <div class="table__td-img">
                                            <img src="../../static/img/nestle-mini.jpg" alt="">
                                        </div>
                                        Nestle орех 100гр.
                                        <span class="table__td-edit"></span>
                                    </a>
                                </td>
                                <td>00101234</td>
                                <td>Штук</td>
                                <td>40.00</td>
                                <td>0%</td>
                                <td>100</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="block block--add block--add-good">
        <div class="block__head">
            <div class="block__item">
                <button class="btn btn-def btn-green btn-green--disabled">Сохранить</button>
            </div>
            <div class="block__item block__item--r">
                <button class="btn btn-circle-close" id="add-good-close"></button>
            </div>
        </div>
        <div class="block__item block__item--full">
            <p class="block__caption">Товар</p>
            <p class="block__title">Продукт, имеющий остаток, который необходимо восполнять</p>
        </div>
        <div class="block__item block__item--full">
            <p class="block__item-name">Наименование товара/услуги</p>
            <input type="text" class="input-text">
        </div>
        <div class="block__item block__item--full">
            <p class="block__item-name">Штрих — код</p>
            <input type="text" class="input-text">
        </div>
        <div class="block__item block__item--full">
            <p class="block__item-name">Изображение</p>
            <label class="input-img">
                <input type="file" class="visually-hidden">
                Выберите фото для загрузки
            </label>
        </div>
        <div class="block__item block__item--full">
            <p class="block__item-name">Категории</p>
            <select name="" id="" class="my-select">
                <option data-display="Выберите из списка или создайте новую категорию"></option>
                <option value="">Слон</option>
                <option value="">Лев</option>
                <option value="">Жира</option>
            </select>
        </div>
        <div class="block__item block__item--col-half">
            <p class="block__item-name">Единица измерения</p>
            <input type="text" class="input-text" placeholder="шт/кг/л">
        </div>
        <div class="block__item block__item--col-half">
            <label class="checkbox-button">
                <input type="checkbox" class="checkbox-button__input">
                Весовой товар
            </label>
        </div>
        <div class="block__item block__item--full">
            <p class="block__item-name">Описание</p>
            <textarea name="" id="" rows="10" class="textarea"></textarea>
        </div>
        <div class="block__item block__item--full">
            <hr class="block-hr">
        </div>
        <p class="block__cap">Цены</p>
        <div class="block__item block__item--full">
            <p class="block__item-name">Цена закупки</p>
            <input type="text" class="input-text" placeholder="Сом">
        </div>
        <div class="block__item block__item--full">
            <p class="block__item-name">Наценка</p>
            <input type="text" class="input-text" placeholder="%">
        </div>
        <div class="block__item block__item--full">
            <p class="block__item-name">Цена продажи</p>
            <input type="text" class="input-text" placeholder="Сом">
        </div>
        <div class="block__item block__item--col-half">
            <p class="block__item-name">Скидка</p>
            <input type="text" class="input-text" placeholder="%">
        </div>
        <div class="block__item block__item--col-half">
            <p class="block__item-name">НДС</p>
            <input type="text" class="input-text" placeholder="%">
        </div>
        <div class="block__item block__item--full">
            <hr class="block-hr">
        </div>
        <p class="block__cap">Склад</p>
        <div class="block__item block__item--full">
            <select name="" id="" class="my-select">
                <option data-display="Группы"></option>
                <option value="">Слон</option>
                <option value="">Лев</option>
                <option value="">Жира</option>
            </select>
        </div>
        <div class="block__item block__item--col-half">
            <p class="block__item-name">Выберите поставщика</p>
            <select name="" id="" class="my-select">
                <option value="">Слон</option>
                <option value="">Лев</option>
                <option value="">Жира</option>
            </select>
        </div>
        <div class="block__item block__item--col-half">
            <p class="block__item-name">Минимальный остаток</p>
            <input type="text" class="input-text" placeholder="%">
        </div>
        <div class="block__item block__item--full">
            <label class="checkbox-button">
                <input type="checkbox" class="checkbox-button__input">
                <div class="checkbox-button__text">
                    <span class="checkbox-button__lead">Ввести начальные остатки</span><br>
                    <span class="checkbox-button__title">Будут созданы документы оприходования</span>
                </div>
            </label>
        </div>
        <div class="block__item">
            <p class="block__item-name">Точка продажи</p>
            <select name="" id="" class="my-select">
                <option data-display="Мой магазин"></option>
                <option value="">Слон</option>
                <option value="">Лев</option>
                <option value="">Жира</option>
            </select>
        </div>
        <div class="block__item">
            <p class="block__item-name">Начальный остаток</p>
            <input type="text" class="input-text">
        </div>
        <div class="block__item">
            <p class="block__item-name">Срок годности</p>
            <div class="input">
                <input type='text' class="datepicker-here input-text" data-position="right top"/>
            </div>
        </div>
    </div>
    <div class="block block--add block--add-group">
        <div class="block__head">
            <div class="block__item">
                <button class="btn btn-def btn-green btn-green--disabled">Сохранить</button>
            </div>
            <div class="block__item block__item--r">
                <button class="btn btn-circle-close" id="add-group-close"></button>
            </div>
        </div>
        <div class="block__item block__item--full">
            <p class="block__item-name">Наименование товара/услуги</p>
            <input type="text" class="input-text">
        </div>
        <div class="block__item block__item--full">
            <p class="block__item-name">Родитель</p>
            <select name="" id="" class="my-select">
                <option data-display="Выберать"></option>
                <option value="">Слон</option>
                <option value="">Лев</option>
                <option value="">Жира</option>
            </select>
        </div>
    </div>
    <script src="../../static/js/libs.min.js"></script>
    <script src="../../static/js/common.js"></script>
{% endblock %}
<body>

