<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Интерфейс кассра</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/libs.min.css">
    <link rel="stylesheet" href="../../static/main.css">
</head>

<body>
    <div class="main-cashier">
        <div class="tabs main-cashier__content">
            <ul class="changer header header--cashier">
                <li class="change-item nav-btn nav-btn--good"></li>
                <li class="change-item nav-btn nav-btn--category"></li>
                <input type="search" class="nav-search" placeholder="Поиск по наименованию, артикулу, штрихкоду и описанию">
            </ul>
            <div class="change-block content content--scroll">
                <div class="block block--good-cashier">
                    <div class="block__item block__item--full">
                        <p class="block__caption">Товары</p>
                    </div>
                    <div class="block__col">
                        <div class="card-good">
                            <p class="card-good__cap">100 Бутылок</p>
                            <div class="card-good__img">
                                <img src="../../static/img/cola.jpg" alt="">
                            </div>
                            <p class="card-good__name">Coca — cola 1л</p>
                            <p  class="card-good__price">50.00 сом</p>
                            <input class="card-good__count" type="number" value="0">
                        </div>
                    </div>
                    <div class="block__col">
                        <div class="card-good">
                            <p class="card-good__cap">100 Бутылок</p>
                            <div class="card-good__img">
                                <img src="../../static/img/nestle.jpg" alt="">
                            </div>
                            <p class="card-good__name">Coca — cola 1л</p>
                            <p  class="card-good__price">50.00 сом</p>
                            <input class="card-good__count" type="number" value="0">
                        </div>
                    </div>
                    <div class="block__col">
                        <div class="card-good">
                            <p class="card-good__cap">100 Бутылок</p>
                            <div class="card-good__img">
                                <img src="../../static/img/cola.jpg" alt="">
                            </div>
                            <p class="card-good__name">Coca — cola 1л</p>
                            <p  class="card-good__price">50.00 сом</p>
                            <input class="card-good__count" type="number" value="0">
                        </div>
                    </div>
                    <div class="block__col">
                        <div class="card-good">
                            <p class="card-good__cap">100 Бутылок</p>
                            <div class="card-good__img">
                                <img src="../../static/img/nestle1.5.jpg" alt="">
                            </div>
                            <p class="card-good__name">Coca — cola 1л</p>
                            <p  class="card-good__price">50.00 сом</p>
                        </div>
                    </div>
                    <div class="block__col">
                        <div class="card-good">
                            <p class="card-good__cap">100 Бутылок</p>
                            <div class="card-good__img">
                                <img src="../../static/img/cola.jpg" alt="">
                            </div>
                            <p class="card-good__name">Coca — cola 1л</p>
                            <p  class="card-good__price">50.00 сом</p>
                        </div>
                    </div>
                    <div class="block__col">
                        <div class="card-good">
                            <p class="card-good__cap">100 Бутылок</p>
                            <div class="card-good__img">
                                <img src="../../static/img/nestle0.5.jpg" alt="">
                            </div>
                            <p class="card-good__name">Coca — cola 1л</p>
                            <p  class="card-good__price">50.00 сом</p>
                        </div>
                    </div>
                    <div class="block__col">
                        <div class="card-good">
                            <p class="card-good__cap">100 Бутылок</p>
                            <div class="card-good__img">
                                <img src="../../static/img/cola.jpg" alt="">
                            </div>
                            <p class="card-good__name">Coca — cola 1л</p>
                            <p  class="card-good__price">50.00 сом</p>
                        </div>
                    </div>
                    <div class="block__col">
                        <div class="card-good">
                            <p class="card-good__cap">100 Бутылок</p>
                            <div class="card-good__img">
                                <img src="../../static/img/nestle.jpg" alt="">
                            </div>
                            <p class="card-good__name">Coca — cola 1л</p>
                            <p  class="card-good__price">50.00 сом</p>
                        </div>
                    </div>
                    <div class="block__col">
                        <div class="card-good">
                            <p class="card-good__cap">100 Бутылок</p>
                            <div class="card-good__img">
                                <img src="../../static/img/cola.jpg" alt="">
                            </div>
                            <p class="card-good__name">Coca — cola 1л</p>
                            <p  class="card-good__price">50.00 сом</p>
                        </div>
                    </div>
                    <div class="block__col">
                        <div class="card-good">
                            <p class="card-good__cap">100 Бутылок</p>
                            <div class="card-good__img">
                                <img src="../../static/img/nestle.jpg" alt="">
                            </div>
                            <p class="card-good__name">Coca — cola 1л</p>
                            <p  class="card-good__price">50.00 сом</p>
                        </div>
                    </div>
                    <div class="block__col">
                        <div class="card-good">
                            <p class="card-good__cap">100 Бутылок</p>
                            <div class="card-good__img">
                                <img src="../../static/img/cola.jpg" alt="">
                            </div>
                            <p class="card-good__name">Coca — cola 1л</p>
                            <p  class="card-good__price">50.00 сом</p>
                        </div>
                    </div>
                    <div class="block__col">
                        <div class="card-good">
                            <p class="card-good__cap">100 Бутылок</p>
                            <div class="card-good__img">
                                <img src="../../static/img/nestle.jpg" alt="">
                            </div>
                            <p class="card-good__name">Coca — cola 1л</p>
                            <p  class="card-good__price">50.00 сом</p>
                        </div>
                    </div>
                    <div class="block__col">
                        <div class="card-good">
                            <p class="card-good__cap">100 Бутылок</p>
                            <div class="card-good__img">
                                <img src="../../static/img/cola.jpg" alt="">
                            </div>
                            <p class="card-good__name">Coca — cola 1л</p>
                            <p  class="card-good__price">50.00 сом</p>
                        </div>
                    </div>
                    <div class="block__col">
                        <div class="card-good">
                            <p class="card-good__cap">100 Бутылок</p>
                            <div class="card-good__img">
                                <img src="../../static/img/nestle.jpg" alt="">
                            </div>
                            <p class="card-good__name">Coca — cola 1л</p>
                            <p  class="card-good__price">50.00 сом</p>
                        </div>
                    </div>
                    <div class="block__col">
                        <div class="card-good">
                            <p class="card-good__cap">100 Бутылок</p>
                            <div class="card-good__img">
                                <img src="../../static/img/cola.jpg" alt="">
                            </div>
                            <p class="card-good__name">Coca — cola 1л</p>
                            <p  class="card-good__price">50.00 сом</p>
                        </div>
                    </div>
                    <div class="block__col">
                        <div class="card-good">
                            <p class="card-good__cap">100 Бутылок</p>
                            <div class="card-good__img">
                                <img src="../../static/img/nestle.jpg" alt="">
                            </div>
                            <p class="card-good__name">Coca — cola 1л</p>
                            <p  class="card-good__price">50.00 сом</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="change-block content content--category">
                <div class="block block--good-cashier">
                    <div class="block__item block__item--full">
                        <p class="block__caption">Категории</p>
                    </div>
                    <div class="block__color">
                        <a href="" class="card-color">
                            Алкагольные напитки
                        </a>
                    </div>
                    <div class="block__color">
                        <a href="" class="card-color">
                            Алкагольные напитки
                        </a>
                    </div>
                    <div class="block__color">
                        <a href="" class="card-color">
                            Алкагольные напитки
                        </a>
                    </div>
                    <div class="block__color">
                        <a href="" class="card-color">
                            Алкагольные напитки
                        </a>
                    </div>
                    <div class="block__color">
                        <a href="" class="card-color">
                            Алкагольные напитки
                        </a>
                    </div>
                    <div class="block__color">
                        <a href="" class="card-color">
                            Алкагольные напитки
                        </a>
                    </div>
                    <div class="block__color">
                        <a href="" class="card-color">
                            Алкагольные напитки
                        </a>
                    </div>
                    <div class="block__color">
                        <a href="" class="card-color">
                            Алкагольные напитки
                        </a>
                    </div>
                    <div class="block__color">
                        <a href="" class="card-color">
                            Алкагольные напитки
                        </a>
                    </div>
                    <div class="block__color">
                        <a href="" class="card-color">
                            Алкагольные напитки
                        </a>
                    </div>
                    <div class="block__color">
                        <a href="" class="card-color">
                            Алкагольные напитки
                        </a>
                    </div>
                    <div class="block__color">
                        <a href="" class="card-color">
                            Алкагольные напитки
                        </a>
                    </div>
                    <div class="block__color">
                        <a href="" class="card-color">
                            Алкагольные напитки
                        </a>
                    </div>
                    <div class="block__color">
                        <a href="" class="card-color">
                            Алкагольные напитки
                        </a>
                    </div>
                    <div class="block__color">
                        <a href="" class="card-color">
                            Алкагольные напитки
                        </a>
                    </div>
                    <div class="block__color">
                        <a href="" class="card-color">
                            Алкагольные напитки
                        </a>
                    </div>
                    <div class="block__color">
                        <a href="" class="card-color">
                            Алкагольные напитки
                        </a>
                    </div>
                    <div class="block__color">
                        <a href="" class="card-color">
                            Алкагольные напитки
                        </a>
                    </div>
                    <div class="block__color">
                        <a href="" class="card-color">
                            Алкагольные напитки
                        </a>
                    </div>
                    <div class="block__color">
                        <a href="" class="card-color">
                            Алкагольные напитки
                        </a>
                    </div>
                    <div class="block__color">
                        <a href="" class="card-color">
                            Алкагольные напитки
                        </a>
                    </div>
                    <div class="block__color">
                        <a href="" class="card-color">
                            Алкагольные напитки
                        </a>
                    </div>
                </div>
            </div>
            <div class="menu-bottom">
                <div class="menu-bottom__burger">
                    <a href="" class="menu-bottom__burger-link">Меню</a>
                    <div class="menu-bottom__list">
                        <a href="" class="menu-bottom__items menu-bottom__items--make-return" id="make-return">
                            Сделать возврат</a>
                        <a href="" class="menu-bottom__items menu-bottom__items--close-change" id="close-change">
                            Закрыть смену
                        </a>
                    </div>
                </div>
                <div class="menu-bottom__item">Магазин Фрунзе №1 / Смена 4</div>
                <div class="menu-bottom__item">19 июня,  среда 10: 39</div>
            </div>
        </div>
        <div class="main-cashier__sidebar">
            <div class="open-change display-flex">
                <button class="btn btn-def btn-green" id="open-change">Открыть смену</button>
                <div class="block open-change__content">
                    <div class="block__item block__item--full">
                        <p class="block__caption">Открытие смен</p>
                        <p class="block__title">Сверка денег в кассе</p>
                        <a href="" class="nav-btn nav-btn--delete" id="close-change"></a>
                    </div>
                    <div class="block__item block__item--full">
                        <p class="block__item-name">Касса</p>
                        <select name="" id="" class="my-select">
                            <option value="">Касса 1</option>
                            <option value="">Касса 2</option>
                        </select>
                    </div>
                    <div class="block__item block__item--full">
                        <p class="block__item-name">Сумма денег в кассе</p>
                        <div class="input">
                            <input type="text" class="input__input">
                            <div class="input__icon"></div>
                        </div>
                    </div>
                    <div  class="block__item block__item--r">
                        <button class="btn btn-def btn-green" id="open-change-req">Открыть смену</button>
                    </div>
                </div>
            </div>
            <div class="sidebar--hidden display-flex">
                <header class="header header--sidebar">
                        <nav class="nav">
                            <a href="" class="nav-btn nav-btn--ava-cashuer" id="add-cus-open"></a>
                            <input type="text" class="nav-search" placeholder="Розничный покупатель" id="search-cus-input">
                        </nav>
                </header>
                <div class="table-sidebar-wrapper">
                    <table class="table-sidebar">
                        <tr>
                            <th>Наименование</th>
                            <th>Цена</th>
                            <th>Кол — во</th>
                            <th>Скидка</th>
                            <th>Итог</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Coca - cola 1л</td>
                            <td>35</td>
                            <td>4</td>
                            <td>5%</td>
                            <td>200</td>
                            <td class="table-sidebar__delete-tr">
                                <a href=""></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Coca - cola 1л</td>
                            <td>35</td>
                            <td>4</td>
                            <td>5%</td>
                            <td>200</td>
                            <td class="table-sidebar__delete-tr"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="sidebar--hidden" id="search-cus">
                <header class="header header--sidebar">
                        <nav class="nav">
                            <a href="" class="nav-btn nav-btn--delete" id="search-cus-close"></a>
                            <input type="search" class="nav-search" placeholder="Поиск покупателя по имени, телефону, email и дисонтной карте">
                        </nav>
                </header>
                <div class="block">
                    <div class="block__item block__item--full">
                        <p class="">ОсОО Рука в руке</p>
                        <div class="block__info-cus">
                            <div class="block__info-item">+996 555 234 567</div>
                            <div class="block__info-item">Rukavruke@gmail.com</div>
                            <div class="block__info-item">Дисконтная карта: 0657234567</div>
                        </div>
                    </div>
                    <div class="block__item block__item--full">
                        <p class="">ОсОО Рука в руке</p>
                        <div class="block__info-cus">
                            <div class="block__info-item">+996 555 234 567</div>
                            <div class="block__info-item">Rukavruke@gmail.com</div>
                            <div class="block__info-item">Дисконтная карта: 0657234567</div>
                        </div>
                    </div>
                    <div class="block__item block__item--full">
                        <p class="">ОсОО Рука в руке</p>
                        <div class="block__info-cus">
                            <div class="block__info-item">+996 555 234 567</div>
                            <div class="block__info-item">Rukavruke@gmail.com</div>
                            <div class="block__info-item">Дисконтная карта: 0657234567</div>
                        </div>
                    </div>
                    <div class="block__item block__item--full">
                        <p class="">ОсОО Рука в руке</p>
                        <div class="block__info-cus">
                            <div class="block__info-item">+996 555 234 567</div>
                            <div class="block__info-item">Rukavruke@gmail.com</div>
                            <div class="block__info-item">Дисконтная карта: 0657234567</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-cashier__add-cus">
                <header class="header header--sidebar">
                        <nav class="nav">
                            <a href="" class="nav-btn nav-btn--delete" id="add-cus-close"></a>
                            <input type="text" class="nav-search" placeholder="Создание покупателя" disabled>
                        </nav>
                </header>
                <div class="block__item block__item--full">
                    <p class="block__item-name">Имя</p>
                    <div class="input">
                        <input type="text" class="input__input">
                        <div class="input__icon"></div>
                    </div>
                </div>
                <div class="block__item block__item--full">
                    <p class="block__item-name">Номер телефона</p>
                    <div class="input">
                        <input type="text" class="input__input">
                        <div class="input__icon"></div>
                    </div>
                </div>
                <div class="block__item block__item--full">
                    <p class="block__item-name">Email</p>
                    <div class="input">
                        <input type="text" class="input__input">
                        <div class="input__icon"></div>
                    </div>
                </div>
                <div class="block__item block__item--full">
                    <p class="block__item-name">Скидка</p>
                        <input type="text" class="input-text" placeholder="%">
                </div>
                <div class="block__item block__item--full">
                    <p class="block__item-name">Дисконтная карта</p>
                        <input type="text" class="input-text" placeholder="">
                </div>
                <div class="block__item block__item--full">
                    <p class="block__item-name">Дата рождения</p>
                    <input type='text' class="datepicker-here input-text" placeholder="DD/MM/YYYY"/>
                </div>
                <div class="block__item block__item--full">
                    <p class="block__item-name">Пол</p>
                    <div class="gender-check-wrapper">
                        <label class="gender-check">
                            <input type="radio" class="visually-hidden" name="gender-check">
                            <div class="gender-check__mark"></div>
                            Мужской
                        </label>
                        <label class="gender-check">
                            <input type="radio" class="visually-hidden" name="gender-check">
                            <div class="gender-check__mark"></div>
                            Женский
                        </label>
                    </div>
                </div>
                <div  class="block__item block__item--r">
                    <button class="btn btn-def btn-green" id="open-change-req">Создать покупателя</button>
                </div>
            </div>
            <div class="menu-bottom menu-bottom-sidebar">
                <a href="#" class="menu-bottom__cap" id="sell">Продажа</a>
                <a href="#" class="menu-bottom__cap menu-bottom__cap--return" id="return">Возврат</a>
                <table class="menu-bottom__table">
                    <tr>
                        <td>Скидка :</td>
                        <td>5%</td>
                    </tr>
                    <tr>
                        <td>Итого :</td>
                        <td>323.00 сом</td>
                    </tr>
                </table>
                <button class="btn menu-bottom__delete"></button>
            </div>
        </div>
    </div>
    <div class="popup popup__close-change">
        <div class="popup__content">
            <p class="popup__cap">Вы действительно хотите закрыть смену?</p>
            <a href="" class="btn btn-def btn-not popup__close">Нет</a>
            <a href="" class="btn btn-def btn-green popup__btn popup__close">Да</a>
            <a href="" class="btn btn-def btn-close popup__close"></a>
        </div>
    </div>
    <div class="popup popup__sell">
        <div class="block popup__content">
            <div class="block__item block__item--col-half">
                <div class="block__item">
                    <p class="block__caption">Платежи</p>
                </div>
                <div class="block__item block__item--full">
                    <p class="block__item-name">Итог</p>
                    <input type="text" class="input-text">
                </div>
                <div class="block__item block__item--full">
                    <p class="block__item-name">Пинято</p>
                    <input type="text" class="input-text">
                </div>
                <div class="block__item block__item--full">
                    <p class="block__item-name">Наличные</p>
                    <input type="text" class="input-text">
                </div>
                <div class="block__item block__item--full">
                    <p class="block__item-name">Банковская карта</p>
                    <input type="text" class="input-text">
                </div>
                <div class="block__item block__item--full">
                    <p class="block__item-name">Комментарий</p>
                    <textarea name="" id="" rows="10" class="textarea"></textarea>
                </div>
            </div>
            <div class="block__item block__item--col-half">
                <div class="block__item">
                    <p class="block__caption">Принять оплату</p>
                </div>
                <ul class="block__item block__item--full check-type-wrapper">
                    <li class="check-type active" id="cash-pay">
                        <p class="check-type__cap">Наличными</p>
                    </li>
                    <li class="check-type" id="card-pay">
                        <p class="check-type__cap">Банковской картой</p>
                    </li>
                </ul>
                <div class="block__item block__item--full">
                    <input type="number" class="input-text">
                </div>
                <div class="change-block block__hidden">
                    <div class="block__item block__item--full">
                        <a href="" class="btn input__btn btn-green btn-lg" id="sell-cash">Принять 522 сом</a>
                    </div>
                    <p class="sell-success" id="success-cash-hint">Продажа прошла успешно (esc)</p>
                </div>
                <div class="change-block block__hidden display-none">
                    <div class="block__item block__item--full">
                        <a href="" class="btn input__btn btn-green btn-lg" id="sell-card">Принять</a>
                    </div>
                    <p class="sell-success" id="success-card-hint">Продажа прошла успешно (esc)</p>
                    <div class="popup__content popup__content--card">
                        <p class="popup__cap">Примите оплату через терминал</p>
                        <a href="" class="btn btn-def btn-not" id="sell-card-unsuccess">Ошибка</a>
                        <a href="" class="btn btn-def btn-green popup__btn" id="sell-card-success">Успешно</a>
                    </div>
                </div>
            </div>
            <a href="" class="btn btn-def btn-close popup__close"></a>
        </div>
    </div>
    <script src="../../static/js/libs.min.js"></script>
    <script src="../../static/js/common.js"></script>
</body>

</html>