{% extends 'main/index.html' %}
{% block content %}
    <div class="content">
        <div class="content__block-wrapper">
            <div class="block">
                <div class="block__head relative--head">
                    <div class="block__item">
                        <div class="button-link">
                            <a href="" class="button-link__button button-link__button--plus-cashbox">
                                <span class="button-link__icon button-link__icon--plus"></span>
                                Создать
                            </a>
                        </div>
                    </div>
                    <div class="set-table">
                        <a href="" class="button-controls">
                        </a>
                        <div class="set-list">
                            <label class="set-list__item">
                                <input type="checkbox" class="visually-hidden">
                                Настройка 1
                                <span></span>
                            </label>
                            <label class="set-list__item">
                                <input type="checkbox" class="visually-hidden">
                                Настройка 1
                                <span></span>
                            </label>
                            <label class="set-list__item">
                                <input type="checkbox" class="visually-hidden">
                                Настройка 1
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="block__item block__item--overauto">
                    <table class="table">
                        <tr>
                            <th>
                                Наименование кассы
                            </th>
                            <th>Точка продажи</th>
                            <th>Баланс</th>
                            <th>Кассиры</th>
                            <th>Создана</th>
                        </tr>
                        <tr>
                            <td>№ 1</td>
                            <td>Магазин Фрунзе № 1</td>
                            <td>10,442.50</td>
                            <td>Аскар Атаев</td>
                            <td>12 июня 14:42</td>
                        </tr>
                        <tr>
                            <td>№ 2</td>
                            <td>Магазин Фрунзе № 2</td>
                            <td>10,442.50</td>
                            <td>Максат Эрикович</td>
                            <td>12 июня 14:42</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="block block--add block--add-cashbox">
            <div class="block__head">
                <div class="block__item">
                    <button class="btn btn-def btn-green btn-green--disabled">Сохранить</button>
                </div>
                <div class="block__item block__item--r">
                    <button class="btn btn-circle-close" id="add-cashbox-close"></button>
                </div>
            </div>
            <div class="block__item block__item--full">
                <p class="block__caption">Создание кассы</p>
                <p class="block__lead">Основные настройки</p>
            </div>
            <div class="block__item block__item--full">
                <p class="block__item-name">Наименование</p>
                <input type="text" class="input-text">
            </div>
            <div class="block__item block__item--full">
                <p class="block__item-name">Точка продажи</p>
                <select name="" id="" class="my-select">
                    <option data-display="Выберите"></option>
                    <option value="">Слон</option>
                    <option value="">Лев</option>
                    <option value="">Жира</option>
                </select>
            </div>
            <div class="block__item block__item--full">
                <p class="block__item-name">Кассиры</p>
                <select name="" id="" class="my-select">
                    <option data-display="Выберите"></option>
                    <option value="">Слон</option>
                    <option value="">Лев</option>
                    <option value="">Жира</option>
                </select>
            </div>
        </div>
    </div>
{% endblock %}
