{% load static %}
<!DOCTYPE html>
<html lang="ru">
{% block content %}

    <main class="main">
        {% include 'parts/left_menu.html' %}
        <div class="content">
            <div class="content__block-wrapper">
                <div class="block">
                    <div class="block__head relative--head">
                        <div class="block__item">
                            <div class="button-link">
                                <a href="" class="button-link__button button-link__button--plus-suppliers">
                                    <span class="button-link__icon button-link__icon--plus"></span>
                                    Создать
                                </a>
                            </div>
                        </div>
                        <div class="block__item">
                            <select name="" id="" class="my-select my-select--blue actions-select">
                                <option data-display="Действия"></option>
                                <option value="">Редактор цен</option>
                                <option value="">Удалить</option>
                            </select>
                        </div>
                        <div class="block__item">
                            <div class="input input--blue">
                                <input type="text" class="input__input" placeholder="Поиск">
                                <div class="input__icon input__icon--search"></div>
                            </div>
                        </div>
                        <p class="block__title block__item--r block__title--r">Количество 2</p>
                        <div class="set-table">
                            <a href="" class="button-controls button-controls--download">
                            </a>
                        </div>
                    </div>
                    <div class="block__item block__item--overauto">
                        <table class="table">
                            <tr>
                                <th class="table__td-check">
                                    <label class="checkbox">
                                        <input type="checkbox" class="visually-hidden">
                                        <span class="checkbox__mark"></span>
                                    </label>
                                </th>
                                <th>Поставщик</th>
                                <th>Телефон</th>
                                <th>Emal</th>
                                <th>Адрес</th>
                            </tr>
                            <tr>
                                <td class="table__td-check">
                                    <label class="checkbox">
                                        <input type="checkbox" class="visually-hidden">
                                        <span class="checkbox__mark"></span>
                                    </label>
                                </td>
                                <td class="table__td-name">
                                    <a href="" class="table__td-link">
                                        Cocacola Company
                                        <span class="table__td-edit"></span>
                                    </a>
                                </td>
                                <td>+996 702 353 535</td>
                                <td>Cocacolacompany@gmail.com</td>
                                <td>г.Бишкек, ул Ауэзова д.24/1</td>
                            </tr>
                            <tr>
                                <td class="table__td-check">
                                    <label class="checkbox">
                                        <input type="checkbox" class="visually-hidden">
                                        <span class="checkbox__mark"></span>
                                    </label>
                                </td>
                                <td class="table__td-name">
                                    <a href="" class="table__td-link">
                                        Pepsico
                                        <span class="table__td-edit"></span>
                                    </a>
                                </td>
                                <td>+996 555 235 789</td>
                                <td>Franfurtairbus@gmail.com</td>
                                <td>Россия, Краснояркий край, ул Архангельск д.12</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
<div class="block block--add block--add-suppliers">
    <div class="block__head">
        <div class="block__item">
            <button class="btn btn-def btn-green btn-green--disabled">Сохранить</button>
        </div>
        <div class="block__item block__item--r">
            <button class="btn btn-circle-close" id="add-suppliers-close"></button>
        </div>
    </div>
    <div class="block__item block__item--full">
        <p class="block__caption">Добавление поставщика</p>
    </div>
    <div class="block__item block__item--full">
        <input type="text" class="input-text" placeholder="Поиск по организации по наименованию, ИНН или ОГРН">
    </div>
    <p class="block__cap">Ввод в вручную</p>
    <div class="block__item block__item--full">
        <p class="block__item-name">Наименование</p>
        <input type="text" class="input-text">
    </div>
    <div class="block__item block__item--full">
        <label class="checkbox-button">
            <input type="checkbox" class="checkbox-button__input">
            <div class="checkbox-button__text">
                <span class="checkbox-button__lead">По умолчанию</span>
            </div>
        </label>
    </div>
    <div class="block__item block__item--full">
        <p class="block__item-name">Номер телефона</p>
        <div class="input">
            <input type="text" class="input__input">
            <div class="input__icon input__icon--plus"></div>
        </div>
    </div>
    <div class="block__item block__item--full">
        <p class="block__item-name">Email</p>
        <div class="input">
            <input type="text" class="input__input">
            <div class="input__icon input__icon--plus"></div>
        </div>
    </div>
    <div class="block__item block__item--full">
        <p class="block__item-name">Веб сайт</p>
        <input type="text" class="input-text">
    </div>
    <p class="block__cap">Реквизиты</p>
    <div class="block__item block__item--full">
        <p class="block__item-name">Реквизиты организации</p>
        <div class="input">
            <input type="text" class="input__input" placeholder="Наименование реквизита">
            <div class="input__icon input__icon--plus"></div>
        </div>
    </div>
    <div class="block__item block__item--full">
        <input type="text" class="input-text" placeholder="Номер реквизита">
    </div>
    <p class="block__cap">Банковские реквизиты</p>
    <div class="block__item block__item--full">
        <p class="block__item-name">Номер счета</p>
        <input type="text" class="input-text">
    </div>
    <div class="block__item block__item--full">
        <div class="input">
            <input type="text" class="input__input" placeholder="Поиск банковских реквизитов по  БИК и SWIFT">
            <div class="input__icon input__icon--plus"></div>
        </div>
    </div>
    <p class="block__cap">Ввод реквизитов вручную</p>
    <div class="block__item block__item--full">
        <div class="input">
            <input type="text" class="input__input" placeholder="Наименование реквизита (прим. БИК)">
            <div class="input__icon input__icon--plus"></div>
        </div>
    </div>
    <div class="block__item block__item--full">
        <input type="text" class="input-text" placeholder="Номер реквизита (прим. 776353444)">
    </div>
    <p class="block__cap">Адреса</p>
    <div class="block__item block__item--full">
        <p class="block__item-name">Юридический</p>
        <input type="text" class="input-text input-text--big">
    </div>
    <div class="block__item block__item--full">
        <p class="block__item-name">Фактический</p>
        <input type="text" class="input-text input-text--big">
    </div>
    <div class="block__item block__item--full">
        <p class="block__item-name">Описание</p>
        <textarea name="" id="" rows="10" class="textarea"></textarea>
    </div>
</div>
<script src="../../static/js/libs.min.js"></script>
<script src="../../static/js/common.js"></script>
</body>

</html>