{% extends 'main/index.html' %}
{% load static %}
{% block content %}
    <div class="content">
        <div class="content__block-wrapper">
            <div class="block">
                <div class="block__head">
                    <div class="block__item">
                        <div class="button-link">
                            <a href="" class="button-link__button button-link__button--plus-shop">
                                <span class="button-link__icon button-link__icon--plus"></span>
                                Создать магазин
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content__block-wrapper">
            <div class="block block--employee">
                <div class="block__item block__item--third">
                    <div class="employee">
                        <div class="employee__head">
                            <div class="employee__img employee__img--shop">
                                <img src="" alt="">
                            </div>
                            <div class="employee__info">
                                <div class="employee__name">Магазин</div>
                            </div>
                            <div class="edit-dots">
                                <div class="edit-dots__button">
                                    <span class="edit-dot"></span>
                                    <span class="edit-dot"></span>
                                    <span class="edit-dot"></span>
                                </div>
                                <div class="edit-dots__list">
                                    <a href="#" class="edit-dots__item edit-dots__item--edit">Редактировать</a>
                                    <a href="#" class="edit-dots__item edit-dots__item--delete">Удалить</a>
                                </div>
                            </div>
                        </div>
                        <div class="employee__item employee__item--address">Адрес Адрес Адрес Адрес</div>
                        <div class="employee__item employee__item--description">Описание Описание Описание</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
    <div class="block block--add block--add-shop">
        <div class="block__head">
            <div class="block__item">
                <button class="btn btn-def btn-green btn-green--disabled">Сохранить</button>
            </div>
            <div class="block__item block__item--r">
                <button class="btn btn-circle-close" id="add-shop-close"></button>
            </div>
        </div>
        <div class="block__item block__item--full">
            <p class="block__caption">Добавление магазина</p>
        </div>
        <div class="block__item block__item--full">
            <p class="block__item-name">название</p>
            <input type="text" class="input-text">
        </div>
        <div class="block__item block__item--full">
            <p class="block__item-name">Изображение</p>
            <label class="input-img">
                <input type="file" class="visually-hidden">
                Выберите фото для загрузки
            </label>
        </div>
        <div class="block__item block__item--full">
            <p class="block__item-name">Адрес</p>
            <input type="text" class="input-text input-text--big">
        </div>
        <div class="block__item block__item--full">
            <p class="block__item-name">Описание</p>
            <textarea name="" id="" rows="10" class="textarea"></textarea>
        </div>
    </div>

{% endblock %}
