{% load static %}
<!DOCTYPE html>
<html lang="ru">
{% block title %}
    <title>Сотрудники</title>
{% endblock %}

{% block content %}

<body>

    <main class="main">
        {% include 'parts/left_menu.html' %}
        <div class="content">
            <div class="content__block-wrapper">
                <div class="block">
                    <div class="block__head">
                        <div class="block__item">
                            <div class="button-link">
                                <a href="" class="button-link__button button-link__button--plus-cashier">
                                    <span class="button-link__icon button-link__icon--plus"></span>
                                    Создать кассира
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content__block-wrapper">
                <div class="block block--employee">
                    <div class="block__item block__item--third">
                        <div class="employee">
                            <div class="employee__head">
                                <div class="employee__img">
                                    <img src="" alt="">
                                </div>
                                <div class="employee__info">
                                    <div class="employee__name">Имя</div>
                                    <div class="employee__position">Кассир</div>
                                </div>
                                <div class="edit-dots">
                                    <div class="edit-dots__button">
                                        <span class="edit-dot"></span>
                                        <span class="edit-dot"></span>
                                        <span class="edit-dot"></span>
                                    </div>
                                    <div class="edit-dots__list">
                                        <a href="#" class="edit-dots__item edit-dots__item--edit">Редактировать</a>
                                        <a href="#" class="edit-dots__item edit-dots__item--delete">Удалить</a>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="employee__item employee__item--tel">+996 701 55 01 97</a>
                            <a href="#" class="employee__item employee__item--email">sheralievarstanbek@gmail.com</a>
                            <div class="employee__item employee__item--score">Название магазина</div>
                        </div>
                    </div>
                    <div class="block__item block__item--third">
                        <div class="employee">
                            <div class="employee__head">
                                <div class="employee__img">
                                    <img src="" alt="">
                                </div>
                                <div class="employee__info">
                                    <div class="employee__name">Имя</div>
                                    <div class="employee__position">Кассир</div>
                                </div>
                                <div class="edit-dots">
                                    <div class="edit-dots__button">
                                        <span class="edit-dot"></span>
                                        <span class="edit-dot"></span>
                                        <span class="edit-dot"></span>
                                    </div>
                                    <div class="edit-dots__list">
                                        <a href="#" class="edit-dots__item edit-dots__item--edit">Редактировать</a>
                                        <a href="#" class="edit-dots__item edit-dots__item--delete">Удалить</a>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="employee__item employee__item--tel">+996 701 55 01 97</a>
                            <a href="#" class="employee__item employee__item--email">sheralievarstanbek@gmail.com</a>
                            <div class="employee__item employee__item--score">Название магазина</div>
                        </div>
                    </div>
                    <div class="block__item block__item--third">
                        <div class="employee">
                            <div class="employee__head">
                                <div class="employee__img">
                                    <img src="" alt="">
                                </div>
                                <div class="employee__info">
                                    <div class="employee__name">Имя</div>
                                    <div class="employee__position">Кассир</div>
                                </div>
                                <div class="edit-dots">
                                    <div class="edit-dots__button">
                                        <span class="edit-dot"></span>
                                        <span class="edit-dot"></span>
                                        <span class="edit-dot"></span>
                                    </div>
                                    <div class="edit-dots__list">
                                        <a href="#" class="edit-dots__item edit-dots__item--edit">Редактировать</a>
                                        <a href="#" class="edit-dots__item edit-dots__item--delete">Удалить</a>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="employee__item employee__item--tel">+996 701 55 01 97</a>
                            <a href="#" class="employee__item employee__item--email">sheralievarstanbek@gmail.com</a>
                            <div class="employee__item employee__item--score">Название магазина</div>
                        </div>
                    </div>
                    <div class="block__item block__item--third">
                        <div class="employee">
                            <div class="employee__head">
                                <div class="employee__img">
                                    <img src="" alt="">
                                </div>
                                <div class="employee__info">
                                    <div class="employee__name">Имя</div>
                                    <div class="employee__position">Кассир</div>
                                </div>
                                <div class="edit-dots">
                                    <div class="edit-dots__button">
                                        <span class="edit-dot"></span>
                                        <span class="edit-dot"></span>
                                        <span class="edit-dot"></span>
                                    </div>
                                    <div class="edit-dots__list">
                                        <a href="#" class="edit-dots__item edit-dots__item--edit">Редактировать</a>
                                        <a href="#" class="edit-dots__item edit-dots__item--delete">Удалить</a>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="employee__item employee__item--tel">+996 701 55 01 97</a>
                            <a href="#" class="employee__item employee__item--email">sheralievarstanbek@gmail.com</a>
                            <div class="employee__item employee__item--score">Название магазина</div>
                        </div>
                    </div>
                    <div class="block__item block__item--third">
                        <div class="employee">
                            <div class="employee__head">
                                <div class="employee__img">
                                    <img src="" alt="">
                                </div>
                                <div class="employee__info">
                                    <div class="employee__name">Имя</div>
                                    <div class="employee__position">Кассир</div>
                                </div>
                                <div class="edit-dots">
                                    <div class="edit-dots__button">
                                        <span class="edit-dot"></span>
                                        <span class="edit-dot"></span>
                                        <span class="edit-dot"></span>
                                    </div>
                                    <div class="edit-dots__list">
                                        <a href="#" class="edit-dots__item edit-dots__item--edit">Редактировать</a>
                                        <a href="#" class="edit-dots__item edit-dots__item--delete">Удалить</a>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="employee__item employee__item--tel">+996 701 55 01 97</a>
                            <a href="#" class="employee__item employee__item--email">sheralievarstanbek@gmail.com</a>
                            <div class="employee__item employee__item--score">Название магазина</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="block block--add block--add-cashier">
        <div class="block__head">
            <div class="block__item">
                <button class="btn btn-def btn-green btn-green--disabled">Сохранить</button>
            </div>
            <div class="block__item block__item--r">
                <button class="btn btn-circle-close" id="add-cashier-close"></button>
            </div>
        </div>
        <div class="block__item block__item--full">
            <p class="block__caption">Добавление кассира</p>
        </div>
        <div class="block__item block__item--full">
            <p class="block__item-name">Имя и фамилия сотрудника</p>
            <input type="text" class="input-text">
        </div>
        <div class="block__item block__item--full">
            <p class="block__item-name">Изображение</p>
            <label class="input-img">
                <input type="file" class="visually-hidden">
                Выберите фото для загрузки
            </label>
        </div>
        <div class="block__item block__item--full">
            <p class="block__item-name">Магазин</p>
            <select name="" id="" class="my-select">
                <option data-display="Группы"></option>
                <option value="">Слон</option>
                <option value="">Лев</option>
                <option value="">Жира</option>
            </select>
        </div>
        <div class="block__item block__item--full">
            <p class="block__item-name required">Email</p>
            <input type="text" class="input-text" required>
        </div>
        <div class="block__item block__item--full">
            <p class="block__item-name">Номер телефона</p>
            <input type="text" class="input-text">
        </div>
        <div class="block__item block__item--full">
            <p class="block__item-name required">Пароль</p>
            <input type="text" class="input-text" required>
        </div>
    </div>
    {% endblock %}
    <script src="../../static/js/libs.min.js"></script>
    <script src="../../static/js/common.js"></script>
</body>

</html>