{% load static %}
<div class="menu-wrapper">
    <div class="menu">
        <div class="menu__btncreat-doc">
            <a href="" class="btn btn-sm btn-red">Создать документ</a>
        </div>
        <div class="menu__item">
            <a href="/" class="menu__link menu__link--home menu__link--active">Главная</a>
        </div>
        <div class="menu__item">
            <a href="" class="menu__link menu__link--gs menu__link--drop">Спавочники</a>
            <div class="menu__drop">
                <a href="/directory/goods" class="menu__drop-link menu__drop-link--cashier">Товары</a>
                <a href="/directory/service" class="menu__drop-link menu__drop-link--shifts">Услуги</a>
            </div>
        </div>
        <div class="menu__item">
            <a href="" class="menu__link menu__link--cashbox menu__link--drop">Кассы и смены</a>
            <div class="menu__drop">
                <a href="/cashbox" class="menu__drop-link menu__drop-link--cashier">Кассы</a>
                <a href="/shift" class="menu__drop-link menu__drop-link--shifts">смены</a>
            </div>
        </div>
        <div class="menu__item">
            <a href="" class="menu__link menu__link--counterparties menu__link--drop">Контрагенты</a>
            <div class="menu__drop">
                <a href="/contractors/suppliers" class="menu__drop-link menu__drop-link--suppliers">Поставщики</a>
                <a href="/contractors/customers" class="menu__drop-link menu__drop-link--customers">Клиенты</a>
            </div>
        </div>
        <div class="menu__item">
            <a href="" class="menu__link menu__link--compain menu__link--drop">Компании</a>
            <div class="menu__drop">
                <a href="/employee" class="menu__drop-link menu__drop-link--employees">Сотрудники</a>
                <a href="/shop" class="menu__drop-link menu__drop-link--shops">Магазины</a>
            </div>
        </div>
        <div class="menu__item">
            <a href="/report" class="menu__link menu__link--reports">Отчеты</a>
        </div>
    </div>
</div>